* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --twitter-blue: #1da1f2;
  --white-text: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1.6rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

/* Utility Classes */

.active {
  color: var(--twitter-blue);
}

.tweeterButtons {
  background: var(--twitter-blue);
  color: var(--white-text);

  border: none;
  border-radius: 99px;

  display: flex;
  justify-content: center;

  transition: 500ms;
}

.separator {
  height: 1rem;

  background: #f7f9fa;
  border-top: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
}
